@model User
@{ 
    ViewBag.Title = "Удалить пользователя";
}

<h2 class="text-center">Удаление пользователя</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-2">Email</dt>
        <dd class="col-10">@Html.DisplayFor(x => x.Email)</dd>

        <dt class="col-2">Фамилия</dt>
        <dd class="col-10">@Html.DisplayFor(x => x.FName)</dd>

        <dt class="col-2">Имя</dt>
        <dd class="col-10">@Html.DisplayFor(x => x.MName)</dd>

        <dt class="col-2">Отчество</dt>
        <dd class="col-10">@Html.DisplayFor(x => x.LName)</dd>
    </dl>
    <div class="row">
        <form asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Удалить" />
                <a href="/User/Index" class="btn btn-primary">Назад</a>
            </div>
        </form>
    </div>
</div>

